<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="mtext-109 cl2"><%= Spree.t(:confirm) %></h3>
  </div>
  <div class="panel-body">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</div>

<div class="panel-heading" data-hook="buttons">
  <% if @order.using_store_credit? %>
    <%= button_tag Spree.t('store_credit.remove'), name: 'remove_store_credit', class: 'continue btn' %>
  <% end %>
  <%= submit_tag Spree.t(:place_order), class: 'flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
<br>
