<div class="container">
  <div class="row p-b-148">
    <div class="col-md-7 col-lg-8">
      <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
        <h3 class="mtext-109 cl2 p-b-16">
          О нас
        </h3>

        <p class="stext-113 cl6 p-b-26">
          <h1 class="mtext-105 cl2 p-b-16">Ламы класс!</h1>
          Ламы были одомашнены более четырёх тысячелетий назад на территории нынешнего Перу. В 1553 году даётся их первое описание и изображение в книге «Хроника Перу» Сьеса де Леона.
          <br>
          Предки лам — гуанако, жили на высокогорных плато в Андах. Этот вид до сих пор используется для перевозки тяжёлых грузов через горные хребты по тропам, недоступным для современного транспорта. Навьючивают только самцов: одно животное переносит за день 27—45 кг на расстояние около 24 км. Если вьюк слишком тяжёл, лама останавливается и садится, никакое наказание не заставит её надрываться, назойливому погонщику она просто плюнет в лицо зловонной жвачкой. Вот такие вот ламы :)
        </p>

        <p class="stext-113 cl6 p-b-26">
          <h1 class="mtext-105 cl2 p-b-16">Заклинание призыва менеджера</h1>
          Пх’нглуи мглв’нафх Ктулху Р’льех вгах’нагл фхтагн!
        </p>
        <br>

        <p class="stext-113 cl6 p-b-26">
          Есть вопросы? Дайте нам знать в магазине по адресу Наш город, улица Примерная, дом 5, 3-й этаж, помещение 8. Или позвоните нам по номеру +375(33)1234567
        </p>
      </div>
    </div>

    <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
      <div class="how-bor1 ">
        <div class="hov-img0">
          <img src="images/about-01.jpg" alt="IMG">
        </div>
      </div>
    </div>
  </div>
</div>
