<div class="address vcard">
  <div class="fn"><span class="stext-110 cl2">ФИО: </span>
    <span class="stext-111 cl6 p-t-2"><%= address.full_name %></span>
    </div>
  <div class="adr">
    <div class="street-address">
      <div class="street-address-line">
        <span class="stext-110 cl2"> Адрес: </span>
        <span class="stext-111 cl6 p-t-2"><%= address.address1 %></span>
      </div>
    </div>
    <div class="local">
      <% if Spree::Config[:address_requires_state] %>
        <span class="region">
          <span class="stext-110 cl2"> Регион: </span>
          <span class="stext-111 cl6 p-t-2"><%= address.state.name %></span>
        </span>
      <% end %>
    </div>
  </div>
  <% unless address.phone.blank? %>
    <div class="tel">
      <span class="stext-110 cl2"> Телефон: </span>
      <span class="stext-111 cl6 p-t-2"><%= address.phone %></span>
    </div>
  <% end %>
</div>
