<div class="address vcard">
  <div class="fn"><b>ФИО: </b><%= address.full_name %></div>
  <div class="adr">
    <div class="street-address">
      <div class="street-address-line">
        <b> Адрес: </b>
        <%= address.address1 %>
      </div>
    </div>
    <div class="local">
      <% if Spree::Config[:address_requires_state] %>
        <span class="region">
          <b> Регион: </b>
          <%= address.state.name %>
        </span>
      <% end %>
    </div>
  </div>
  <% unless address.phone.blank? %>
    <div class="tel">
      <b> Телефон: </b>
      <%= address.phone %>
    </div>
  <% end %>
</div>
