<div class="container">
  <div class="p-t-40">
    <p class="stext-107 cl6 txt-center">
      <b>БУДЕМ НА СВЯЗИ</b>
      <br>
      Есть вопросы? Дайте нам знать в магазине по адресу Наш город, улица Примерная, дом 5, 3-й этаж, помещение 8. Или позвоните нам по номеру +375(33)1234567.
      <br>
      Адрес поддержки: email@example.com
      <br><br>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was made with <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
  </div>
</div>
