<div class="container">
  <div class="p-t-40">
    <p class="stext-107 cl6 txt-center">
      <b>GET IN TOUCH</b>
      <br>
      Any questions? Let us know in store at example address, +375(33)1234567
      <br>
      Or contact us at email@example.com
      <br><br>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
  </div>
</div>
